*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}
h2{
    margin-top: 50px;
    
}
.settings{
    display: flex;
    flex-direction: column;
}
.settings p{
    text-align: center;
    padding-bottom: 5px;
}
.Btn{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid black;
}
.Container{
   margin-top: 30px;
   display: grid;
   width: 500px;
   height: 500px;
   background-color: white;
   border: 2px solid black;
   border-radius: 5px;
}
.gridCell{
    background-color: white;
}
